modules/phase1/runs/lottery1/**/*.png filter=lfs diff=lfs merge=lfs -text
modules/phase1/runs/lottery1/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
modules/phase1/runs/seed-germination-1/**/*.png filter=lfs diff=lfs merge=lfs -text
modules/phase1/runs/seed-germination-1/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
modules/phase2/runs/lottery1/**/*.png filter=lfs diff=lfs merge=lfs -text
modules/phase2/runs/lottery1/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
modules/phase3/runs/lottery1/**/*.png filter=lfs diff=lfs merge=lfs -text
modules/phase3/runs/lottery1/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
